{% extends 'layout.html'%}

{% block body%}
    <h1>Register</h1>
    <form action="/register" method="POST">
        <input type="text" name="name" autocomplete="off" autofocus placeholder="Name">
        <!-- Select attribute is used for dropdown -->
        <select name="sport">
            <!--this line disable the selection of dropdown for single item or option-->
            <option disabled selected value="">sports</option>
            <!--this is a for loop syntax in jinja(flask)-->
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}

        </select>
        <input type="submit" value="Register">
    </form>

{% endblock %}

